
.contenedor{
    
    background-image: url(./img/amigos.jpg);
    background-size:cover;
    background-attachment: fixed;
    
    
}



#Ver, #Buscar, #Borrar {
    
    text-align: center;
    border: solid 2px;
    background-color: rgba(206, 205, 205, 0.531);
}

.modelo{
    background-color: rgba(143, 90, 195, 0.242);
}